// color variable
$color-black: #000000;
$color-black-light: #333;
$color-white: #ffffff;
$color-white-light: #ccc;
$color-hover: #0018ff;
$color-hover-second: #00e;
$color-active: #ff0000;
$color-active-light: #f0571f;
$color-primary: #888888;
$color-cite: #05cbbb;
// font
$font_luci: "LucidaGrande";
$font_tahoma: "font_Tahoma";
$font_gothic: "font_GOTHIC";
$font_slick: "font_slick";
