.contact {
  &__primary {
    padding-top: 2rem;
    margin-bottom: 5rem;
  }
  &__primary-title {
    font-family: $font_gothic;
    font-size: 3.5rem;
    color: $color-black-light;
    margin-bottom: 1rem;
  }
  &__primary-link {
    font-family: $font_gothic;
    font-size: 1.6rem;
    color: $color-black;
  }
  &__secondary {
    width: 100%;
  }
  &__secondary-main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
  &__secondary-left {
    width: 30%;
    @include respond(tab-land) {
      width: 40%;
    }
    @include respond(tab-port) {
      width: 40%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
  &__secondary-right {
    width: 60%;
    @include respond(phone) {
      width: 100%;
    }
    iframe {
      width: 80%;
      @include respond(phone) {
        width: 100%;
      }
    }
  }
  &__secondary-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-black-light;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
  }
  &__secondary-address {
    font-size: 1.6rem;
    color: $color-black-light;
    margin-bottom: 2rem;
  }
  &__secondary-phone {
    font-size: 1.6rem;
    color: $color-black-light;
  }
}
.social-bar {
  display: inline-block;
  position: fixed;
  right: 10%;
  top: 70%;
  margin: 0;
  &__elemt {
    list-style: none;
  }
  &__link-icon-bar {
    font-size: 1.7rem;
    padding: 1rem;
  }
}
