#more {
  display: none;
}

.projects {
  padding-top: 2rem;

  &__firts {
    position: relative;
  }

  &__firts-list {
    display: flex;
    flex-wrap: wrap;

    @include respond(phone) {
      display: none;
    }
    @include respond(tab-port) {
      display: none;
    }
  }
  &__firts-item {
    list-style: none;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    @include respond(phone) {
      display: block;
    }
  }
  &__firts-link {
    color: $color-black;
    padding: 0.7rem 1.2rem;
    border: 1px solid $color-black;
    font-family: $font_gothic;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    text-transform: uppercase;
    &:active,
    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-white;
      background-color: $color-black;
    }
  }

  &__text {
    margin-top: 3rem;
  }
  // &__text-title {
  //   text-transform: uppercase;
  //   font-size: 1.6rem;
  //   font-weight: 700;
  //   margin-bottom: 2rem;
  // }
  &__text-content {
    strong {
      color: $color-black-light;
      display: block;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    font-family: $font_gothic;
    font-size: 1.6rem;
    color: $color-black-light;
    line-height: 3rem;
    text-align: justify;
  }
  &__text-link {
    color: $color-hover;
    font-size: 1.6rem;
    text-decoration: underline;
    &:hover {
      color: $color-hover;
    }
    &:active {
      color: $color-active;
    }
  }
  &--link-news {
    display: block;
  }
}

.product {
  &__elemt {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    flex-wrap: wrap;

    @include respond(tab-port) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond(tab-land) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__path {
    margin-bottom: 3rem;
    display: block;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    &:hover {
      text-decoration: none;
      filter: grayscale(90%);
      opacity: 0.9;
    }
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__description {
    margin-top: 1rem;
    color: $color-black-light;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
  }
}
.display-category {
  display: none;
  visibility: hidden;
  width: 100%;
  border: 1px solid $color-black;
  padding: 0.7rem 1.2rem;
  text-align: left;
  font-family: $font_gothic;
  font-size: 1.3rem;
  text-transform: uppercase;
  @include respond(tab-port) {
    display: none;
  }

  &:focus {
    outline: none;
  }
  &::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5rem;
    color: $color-black;
    float: right;
    cursor: pointer;
  }

  @include respond(phone) {
    display: block;
    visibility: visible;
  }
  @include respond(tab-port) {
    display: block;
    visibility: visible;
  }
}
.list-cate + .projects__firts-list {
  display: block;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  background-color: $color-white;
  z-index: 55;
  transition: all 1s ease-out;
}
.list-cate + .projects__firts-list .projects__firts-item {
  margin-right: 0;
}
.list-cate + .projects__firts-list .projects__firts-link {
  width: 100%;
  border: none;
  box-shadow: 0 1px 4px rgba($color: $color-black, $alpha: 0.7);
}
