*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 62.5%;
  }
  @include respond(tab-port) {
    font-size: 62.5%;
  }
  @include respond(phone) {
    font-size: 55%;
  }
  @include respond(small-phone) {
    font-size: 48%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", "Century Gothic", Tahoma, sans-serif;
}

.container-set {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-sw {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.block-content {
  margin-top: 60px;
  margin-bottom: 60px;
}
.slick-next {
  right: 65px !important;
}
.slick-prev {
  left: 50px !important;
  z-index: 99;
}
.slick-next::before,
.slick-prev::before {
  font-size: 40px !important;
  color: #000 !important;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 0.8s;
  --animate-delay: 0s;
  --animation-timing-function: ease-in;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 10s;
}
#project {
  padding: 0 3rem;
}
li.active-class {
  a {
    color: $color-white !important;
    background-color: $color-black !important;
  }
}

.morecontent {
  span {
    display: none;
  }
}
.morelink {
  display: block;
}
.dots {
  &::before {
    content: "...";
  }
}

#myDIV {
  .projects__firts-link.active-selector {
    background-color: $color-black !important;
    color: $color-white !important;
  }
}
 {
  .active-item {
    background-color: $color-black !important;
    color: $color-white !important;
  }


.loader {
  z-index: 999999999999999999999999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  background-color: $color-white;
  transition: all 0.8s linear;
  .icon-load {
    font-size: 25px;
    color: #6b6a6a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .animation-loading {
    -ms-animation: fadeinAnima 0.8s 0s linear infinite forwards;
    -moz-animation: fadeinAnima 0.8s 0s linear infinite forwards;
    -o-animation: fadeinAnima 0.8s 0s linear infinite forwards;
    -webkit-animation: fadeinAnima 0.8s 0s linear infinite forwards;
    animation: fadeinAnima 0.8s 0s linear infinite forwards;
    transition: all 0.8s linear;
  }
}

